<div class="container">

    <h3 class="d-flex justify-content-center">JeanStation </h3>
    <h5 class="d-flex justify-content-center">Welcome To Admin Portal</h5>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button routerLink="store"
            class="m-1 btn btn-light btn-outline-primary" Button>Store</button>
        </li>

        <li class="nav-item">
            <button routerLink="products"
            class="m-1 btn btn-light btn-outline-primary" Button>products</button>
        </li>
        <li class="nav-item">
            <button routerLink="user"
            class="m-1 btn btn-light btn-outline-primary" Button>User</button><br><br>
        </li>
    </ul>
    </nav>

<router-outlet></router-outlet>

</div>